@model IEnumerable<Blogg.Models.PostListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table" id="blog">
    @Html.Partial("_PostList", Model)
</table>

<input type="button" value="Load more posts" id="moreposts" />

@section Scripts {
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/BlogScript.js"></script>
}